.goods {
	flex-grow: 1;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.goods__title {
	font-weight: 400;
	margin-bottom: 1px;
}

.goods__weight {
	color: #4c4545;
	margin-bottom: 6px;
	font-size: 14px;
}

.goods__price {
	font-size: 14px;
}
