.order__wrapper {
	right: 0;
	border: #ffab08 1px solid;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	border-radius: 12px;
	transition: transform 0.1s ease, background-color 0.3s ease-in-out;
	width: 100%;
}

.order__header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	outline: none;
	width: 100%;
}
.order__amount {
	color: black;
}
.order__header:after {
	content: '';
	position: absolute;
	outline: 3px solid transparent;
	inset: 0;
	border-radius: 12px;
	pointer-events: none;
}

.order__header:focus-visible:after {
	outline-color: #ffab08;
}

.order_open .order__header {
	margin-bottom: 8px;
}

.order__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
}

.order__count {
	color: #ff7020;
	font-size: 20px;
}

.order__wrap_list::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: transparent; /* optional: just make scrollbar invisible */
}

.order__wrap_list {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 80%;
}

.order__wrap_list::-webkit-scrollbar-thumb {
	background: #ff0000;
}

.order_open .order__wrap_list {
	display: block;
}

.order__list {
	margin-bottom: 13px;
}

.order__item {
	display: flex;
	width: 80%;
	margin-right: auto;
	margin-left: auto;

	align-items: center;
	gap: 6px;
	padding-left: 10px;
	margin-top: 1%;
	border-radius: 8px;
	border: 1px solid #f2f2f3;
}

.order__item:first-child {
	border-top: 1px solid #f2f2f3;
}

.order__image {
	width: 64px;
	height: 52px;
	margin: 1%;
	border-radius: 8px;
}

.order__total {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	font-size: 12px;
	width: 80%;
	height: 3%;
	/* line-height: 130%; */
	margin-right: auto;
	margin-left: auto;
}

.order__submit {
	width: 80%;
	/* padding: 9px; */
	background: #ff7020;
	border-radius: 8px;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

.order__text {
	font-weight: 400;
	font-size: 10px;
	line-height: 24px;
	padding-left: 32px;
	background: url('../img/delivery.png') left/24px no-repeat;
}

.order__close {
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	color: #b1b1b1;
}

.order__empty {
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
}

@media (max-width: 1000px) {
	.order__wrap_list {
		/* // display: none;// */
	}
	.order__total {
		/* display: none; */
	}
	.order__apeal {
		/* display: none; */
	}
	.order__submit {
		/* display: none; */
	}
}

@media (min-width: 768px) {
	.order {
		width: 145px;
		transition: width 0.06s ease-in-out;
	}
	.order__wrap_list {
		height: 78%;
		overflow-y: scroll;
	}

	.order.order_open {
		width: 300px;
	}
	.order__wrapper {
		position: unset;
		height: 50px;
		width: 120px;
		height: 50px;
		padding: 4px;
	}
	.order__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 400;
		font-size: 12px;
		width: 80%;
		height: 4%;
		line-height: 130%;
		margin-right: auto;
		margin-left: auto;
	}
	.order__submit {
		width: 90%;
		height: 100%;
	}
}

@media (max-width: 414px) {
	.order__submit {
		padding: 1px;
		height: 30px;
		border-radius: 12px;
		font-size: 16px;
	}
}
@media (min-width: 1282px) {
	.order__submit {
		padding: 1px;
		height: 30px;
		border-radius: 12px;
		font-size: 16px;
	}
	.order__wrap_list {
		height: 80%;
		overflow-y: scroll;
	}
}

@media (max-width: 1024px) {
	.order {
		width: 300px;
	}

	.order__wrapper {
		position: unset;
		padding: 1px;
		height: 40px;
		width: 130px;
	}

	.order__header {
		/* margin-bottom: 12px; */
		pointer-events: none;
	}

	.order__header:after {
		content: none;
	}

	.order__title {
		font-size: 20px;
	}

	.order__item {
		padding: 15px 0;
	}

	.order__wrap_list::-webkit-scrollbar {
		background: white;
	}

	.order__close {
		display: none;
	}

	.order__total {
		font-size: 16px;
		margin-bottom: 8px;
	}

	.order__submit {
		padding: 1px;
		height: 40px;
		border-radius: 12px;
		font-size: 16px;
		margin-bottom: 8px;
	}

	.order__apeal {
		font-size: 12px;
	}
	.order__total {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 400;
		font-size: 12px;
		width: 80%;
		height: 4%;
		margin-right: auto;
		margin-left: auto;
	}
	.order__submit {
		width: 100%;
		height: 100%;
	}
	.order__wrap_list {
		height: 68%;
		overflow-y: scroll;
	}
	.order__apeal {
		height: 2%;
	}
	header {
		height: 8%;
	}
}
