/* .primary-navigation {
	position: sticky;
	width: 100%;
	height: 150px;
	top: 0px;
} */
.navs {
	position: sticky;
	top: 0px;
	padding-top: 10px;
	background-color: #f9f9f9;
	margin-bottom: 1px;
}
.nav {
	background-color: #f9f9f9;
	margin-bottom: 1px;
}
