/* body {
	margin: 0%;
	padding: 0%;
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
} */
body {
	margin: 0%;
	padding: 0%;
	background-repeat: no-repeat;
}
:root:after {
	content: 'Macarons  love Macarons   Macarons   Macarons    Macarons   Macarons   Macarons   Macarons   Macarons   Macarons  Macarons love  Macarons  Macarons  Macarons love  Macarons   Macarons   Macarons     Macarons        Macarons     Macarons  love    Macarons   Macarons   Macarons   Macarons   Macarons  love  Macarons   Macarons  love Macarons   Macarons   Macarons   Macarons  Macarons   Macarons  Macarons  Macarons   Macarons love   Macarons   Macarons     Macarons  love      Macarons     Macarons      Macarons     Macarons   Macarons   Macarons   Macarons    Macarons   Macarons love  Macarons   Macarons   Macarons love  Macarons  Macarons   Macarons  Macarons  Macarons   Macarons   Macarons   Macarons     Macarons  love      Macarons     Macarons      Macarons     Macarons   Macarons   Macarons   Macarons love   Macarons   Macarons love  Macarons   Macarons   Macarons   Macarons  Macarons   Macarons  Macarons  Macarons   Macarons love  Macarons love  Macarons     Macarons        Macarons     Macarons      Macarons    love  Macarons   Macarons   Macarons   Macarons    Macarons   Macarons   Macarons   Macarons   Macarons love  Macarons  Macarons   Macarons  Macarons  Macarons   Macarons   Macarons   Macarons     Macarons        Macarons   love  Macarons      Macarons    Macarons   Macarons   Macarons   Macarons love   Macarons   Macarons   Macarons  love Macarons   Macarons   Macarons  Macarons   Macarons  Macarons  Macarons   Macarons   Macarons   Macarons  love   Macarons        Macarons love    Macarons      Macarons   love  Macarons   Macarons   Macarons   Macarons    Macarons love   Macarons   Macarons   Macarons   Macarons   Macarons  Macarons   Macarons  Macarons  Macarons   Macarons   Macarons   Macarons     Macarons    love    Macarons     Macarons  love    Macarons  Macarons   Macarons love  Macarons   Macarons    Macarons   Macarons   Macarons   Macarons   Macarons   Macarons  Macarons   Macarons  Macarons  Macarons   Macarons   Macarons   Macarons     Macarons        Macarons     Macarons      Macarons    Macarons   Macarons   Macarons   Macarons    Macarons   Macarons   Macarons   Macarons   Macarons   Macarons  Macarons   Macarons  Macarons  Macarons   Macarons   Macarons   Macarons     Macarons    love    Macarons     Macarons      Macarons    Macarons  ';
	position: fixed;
	transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
	color: rgb(187, 182, 182);
	top: -10px;
	z-index: -1;
	font-size: 40px;
	color: #ffab08;
	font-family: cursive;
}

.aktive_menu {
	width: 90%;
	height: 60px;
	background-color: rgb(243, 88, 4);
	border-radius: 10px;
	overflow: hidden;
	position: fixed;
	bottom: 0%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.icon_menu {
	margin: 5px;
	width: 15%;
	height: 45px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 10px;
}
.icon_menu:hover {
	background-color: #ff8c08;
}
.aktive_icon_menu {
	background-color: #ffab08;
}

@media (min-width: 768px) {
	.aktive_menu {
		display: none;
	}
}
